/*
 * jQuery FlexSlider v2.5.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 */

/* ====================================================================================================================
 * RESETS
 * ====================================================================================================================*/
.flex-container a:hover,
.flex-slider a:hover,
.flex-container a:focus,
.flex-slider a:focus {
  outline: none;
}

.slides,
.slides > li,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex-pauseplay span {
  text-transform: capitalize;
}

/* ====================================================================================================================
 * BASE STYLES
 * ====================================================================================================================*/
.flexslider {
  margin: 0;
  padding: 0;
}

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

.flexslider .slides img {
  width: 100%;
  display: block;
}

.flexslider .slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .flexslider .slides {
  display: block;
}

* html .flexslider .slides {
  height: 1%;
}

.no-js .flexslider .slides > li:first-child {
  display: block;
}

.flex-direction-nav {

  a {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    outline: none;
  }

  .flex-prev {
    left: 10px;
    @include oneline-sprite-box($icons, arr-l);
  }

  .flex-next {
    right: 10px;
    @include oneline-sprite-box($icons, arr-l);
    @include transform(rotate(180deg));
  }
}

#slider-2 {

  .flex-control-nav {
    display: none;
  }
}

#slider-1 {
  padding: 0 60px;
  margin-bottom: 90px;

  .flex-control-nav {
    position: absolute;
    bottom: 10px;
    right: 100px;
    z-index: 100;

    li {
      display: inline-block;
      margin: 0 5px;
      cursor: pointer;

      a {
        width: 15px;
        height: 15px;
        background: #fff;
        @include border-radius(50%);
        display: block;
        @include text-hide();
        @include box-shadow(5px 5px 10px -2px #000);
        outline: none;

        &.flex-active {
          background: #48DCCD;
        }

      }
    }
  }
}