@font-face {
  font-family: 'gillsans';
  src: url('../fonts/GillSans.eot');
  src: url('../fonts/GillSans.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GillSans.woff') format('woff'),
  url('../fonts/GillSans.ttf') format('truetype'),
  url('../fonts/GillSans.svg#gillsans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gothaprobol';
  src: url('../fonts/gothaprobol-webfont.eot');
  src: url('../fonts/gothaprobol-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gothaprobol-webfont.woff') format('woff'),
  url('../fonts/gothaprobol-webfont.ttf') format('truetype'),
  url('../fonts/gothaprobol-webfont.svg#gothaprobol') format('svg');
  font-weight: normal;
  font-style: normal;
}